@model PLMVC.Models.Test.PreviewTestViewModel

@*<blockquote>
    <p>If you want to successfully pass this test, then you must meet on time @ViewBag.TimeLimit and answer @ViewBag.MinToSuccess% of the questions correctly.</p>
    <small> Good luck:)</small>
</blockquote>*@

<div class="jumbotron">
    <h1>@Model.Title</h1>
    <p>If you want to successfully pass this test, then you must meet on time @Model.TimeLimit and answer @Model.MinToSuccess% of the questions correctly.</p>
    <p>Good luck:)</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("StartTest", "Test", new {testId = Model.Id})">Start</a></p>
</div>