@model IEnumerable<PLMVC.Models.TestResult.PassedTestResult>

<h3>Passed tests</h3>
<hr />
@if (Model.Count() == 0)
{
    <div>
        You haven't passed any tests yet. Try it!
    </div>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSuccess)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSuccess)
        </td>
        
        <td>
           @Ajax.ActionLink("Start test", "Preview", "Test", new { testId = item.TestId }, new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET" }, new { @class = "start-test-link" }) 
        </td>
    </tr>
}

</table>
}