@model IEnumerable<PLMVC.Models.TestResult.PassedTestResult>

<div class="importBar"style="justify-content: space-between">
    <h3>Passed tests</h3>
    <div style="display: flex">
        <div class="importBtn" style="margin-right: 10px">@Ajax.ActionLink("Export to XML file", "ToXmlFile", "Test", new { userId = Model.FirstOrDefault().UserId }, new AjaxOptions { LoadingElementId = "loading", HttpMethod = "POST" }, new { @class = "btn btn-success btn-sm" })</div>
        <div class="importBtn"><a class="btn btn-success btn-sm">Export to Excel file</a></div>
    </div>
</div>
<hr />
@if (Model.Count() == 0)
{
    <div>
        You haven't passed any tests yet. Try it!
    </div>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayName("Date of passing")
        </th>
        <th>
            @Html.DisplayName("Success")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @item.Runtime.ToString(@"hh\:mm\:ss")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateComplete)
        </td>
        <td>
             @if (item.IsSuccess)
             {<img src="~/Content/Img/success.png" width="40" height="40" /> }
             else
             {<img src="~/Content/Img/notsuccess.png" width="30" height="30" />}
        </td>
        
        <td>
           @Ajax.ActionLink("Start test", "Preview", "Test", new { testId = item.TestId }, new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET" }, new { @class = "start-test-link" }) |
           @Ajax.ActionLink("Delete result", "DeleteTestResult", "Test", new { testResultId = item.Id }, new AjaxOptions { UpdateTargetId = "tests-table", LoadingElementId = "loading", HttpMethod = "GET", Confirm = "Do you really want to delete this result?" })
        </td>
    </tr>
}

</table>
}