@model PLMVC.Models.Test.DetailsTestViewModel

<div>
    <h4>Details test  @Ajax.ActionLink("Edit test", "EditTest", "Test", new { testId = @ViewBag.TestId }, new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET" }) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinToSuccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinToSuccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThemeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThemeName)
        </dd>
    </dl>
</div>
<hr />
<div id="details_test_questions"> 
    @Ajax.ActionLink("Show questions", "DetailsTestQuestions", "Question", new { testId = @ViewBag.testId }, new AjaxOptions { UpdateTargetId = "details_test_questions", HttpMethod = "GET" })
</div>
<hr />
<div id="edit_test_question">

</div>
<div>
    @*@Ajax.ActionLink("Show questions", "DetailsTestQuestions","Question", new { testId = @ViewBag.testId }, new AjaxOptions { UpdateTargetId = "details_test_questions", HttpMethod = "GET" })*@
</div>


