@model PLMVC.Models.Profile.ProfileViewModel

<div >
    <h2>Your profile</h2>
    <hr />
    <dl class="dl-horizontal profile-text">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    @Ajax.ActionLink("Show created tests", "ShowCreateTests", "Test", new { profileId = Model.Id },new AjaxOptions {UpdateTargetId = "tests-table",LoadingElementId = "loading", HttpMethod = "GET" }, new { @class = "btn btn-primary" })
    @Ajax.ActionLink("Show passed tests", "ShowPassedTests", "Test", new { profileId = Model.Id }, new AjaxOptions { UpdateTargetId = "tests-table", LoadingElementId = "loading", HttpMethod = "GET" }, new { @class = "btn btn-primary" })
</div>
<div id="tests-table">

</div>