@model PLMVC.Models.Profile.ProfileViewModel

<div >
    <h2>@Resources.Resource.YourProfile</h2>
    <hr />
    <dl class="dl-horizontal profile-text">
        <dt>
           @Resources.Resource.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Resources.Resource.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    @Ajax.ActionLink(@Resources.Resource.ShowCreatedTests, "ShowCreateTests", "Test", new { profileId = Model.Id },new AjaxOptions {UpdateTargetId = "tests-table",LoadingElementId = "loading", HttpMethod = "GET" }, new { @class = "btn btn-primary" })
    @Ajax.ActionLink(@Resources.Resource.ShowPassedTests, "ShowPassedTests", "Test", new { profileId = Model.Id }, new AjaxOptions { UpdateTargetId = "tests-table", LoadingElementId = "loading", HttpMethod = "GET" }, new { @class = "btn btn-primary" })
</div>
<div id="tests-table">

</div>