<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Quiz</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-min")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/customJS.js")
    @Styles.Render("~/Content/css")

</head>
<body>
    @Html.Partial("_Header")
    <div class="container layout_container">
        <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11 pull-right container jumbotron">
            <div id="loading" style="display:none;">
                <h2>Loading...Please wait</h2>
            </div>
            <div id="main_container">
                @RenderBody()
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 text-center">
            advertising
        </div>
    </div>

    <footer>
        <div class="copyright">
            <div class="copyright-content">&copy; @DateTime.Now.Year - by Alex Karmaz</div>
            <div class="copyright-content">
                <a href="http://twitter.com/alex_karmaz" target="_blank" class="btn btn-block btn-social-icon btn-twitter">
                    <span class="fa fa-twitter"></span> 
                </a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
