@model IEnumerable<PLMVC.Models.Test.ShowTestsViewModel>

<h3 align="center">@Resources.Resource.SearchingResults</h3>
<hr />

@if (Model.Count() == 0)
{
    <div align="center">
        <hgroup class="title">
            <h3>@Resources.Resource.EmptySearch</h3>
        </hgroup>

        <img src="~/Content/Img/Sorry-With-Pen-Writing.jpg" alt="Not found" width="600" height="400">
    </div>
}
else
{
<table class="table">
    <tr>
        <th>
            @Resources.Resource.Title
        </th>
        <th>
            @Resources.Resource.Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Ajax.ActionLink(@Resources.Resource.StartTest, "Preview", "Test", new { testId = item.Id }, new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET" }, new { @class = "start-test-link" })
               @if (User.IsInRole("admin"))
               {@:|
                @Ajax.ActionLink(@Resources.Resource.Edit, "EditTest", "Test", new { testId = item.Id }, new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET" }); @:|
                @Ajax.ActionLink(@Resources.Resource.Details, "TestDetails", "Test", new { testId = item.Id }, new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET" }); @:|
                @Ajax.ActionLink(@Resources.Resource.Delete, "DeleteTests", "Test", new { testId = item.Id }, new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET", Confirm = "Do you really want to delete this test?" });
               }
            </td>
        </tr>
    }

</table>
}
