@model IEnumerable<PLMVC.Models.Question.QuestionViewModel>

<div>
    <h4>@Resources.Resource.QuestionList</h4>
    @if (Model.Count() == 0)
    {
     <div>
         @Resources.Resource.EmptyQuestionsList
     </div>
    }
    else
    {
    <hr />
    <table class="table">
        <tr>

            <th>
                @Resources.Resource.Text
            </th>
            <th>
            </th>
         </tr>
        @foreach (var item in Model)
        {
         <tr class="EditQuestion-@item.Id">
             <td>
                @Html.DisplayFor(modelItem => item.Text)
             </td>
             <td>
                 @Ajax.ActionLink(@Resources.Resource.Details, "DetailsOneQuestion", new { questionId = item.Id }, new AjaxOptions { UpdateTargetId = "work_with_question"}) |
                 @Ajax.ActionLink(@Resources.Resource.Delete, "DeleteTestQuestion", new { questionId = item.Id }, new AjaxOptions { UpdateTargetId = "details_test_questions", Confirm = "Do you really want to delete this question?", HttpMethod = "GET" })
             </td>
         </tr>
        }
     </table>
    }
    
    @Ajax.ActionLink(@Resources.Resource.AddQuestion, "CreateTestQuestion", "Question", new { testId = @ViewBag.testId }, new AjaxOptions { UpdateTargetId = "work_with_question", HttpMethod = "GET" })
<div id="work_with_question">

</div>
</div>
