@model PLMVC.Models.Question.QuestionViewModel

<div id="detail_one_question">
    <h4>Question details</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            @Html.HiddenFor(model => model.ThemeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text) 
            @Ajax.ActionLink("Edit", "EditTestQuestion", new { questionId = Model.Id }, new AjaxOptions { UpdateTargetId = "detail_one_question", HttpMethod = "GET" })
        </dd>
    </dl>
</div>
<hr />
<div id="details_question_answers">
    @Ajax.ActionLink("Show answers", "DetailsQuestionAnswers", "Answer", new { questionId = Model.Id}, new AjaxOptions { UpdateTargetId = "details_question_answers", HttpMethod = "GET" })
</div>