@model IEnumerable<PLMVC.Models.Question.QuestionViewModel>

<div>
    <h4> Details questions</h4>
    @if (Model.Count() == 0)
    {
     <div>
         This test don't have a questions
     </div>
    }
    else
    {
    <hr />
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>

            </th>
         </tr>
        @foreach (var item in Model)
        {
         <tr class="EditQuestion-@item.Id">
             <td>
                @Html.DisplayFor(modelItem => item.Text)
             </td>
             <td>
                 @Ajax.ActionLink("Details", "DetailsOneQuestion", new { questionId = item.Id }, new AjaxOptions { UpdateTargetId = "work_with_question"})
             </td>
         </tr>
        }
     </table>
    }
    @Ajax.ActionLink("Add question", "CreateTestQuestion", "Question", new { testId = @ViewBag.testId }, new AjaxOptions { UpdateTargetId = "work_with_question", HttpMethod = "GET" })
<div id="work_with_question">

</div>
</div>
