@model IEnumerable<PLMVC.Models.User.ShowUsersViewModel>
<h2>@Resources.Resource.ManageUsers</h2>
<hr />
<p>
    @Ajax.ActionLink(@Resources.Resource.CreateUser, "Register", "Account",new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET" })
</p>
@if (Model.Count() == 0)
{
    <b>@Resources.Resource.OneUser</b>
}

<table class="table">
    <tr>
        <th>
            @Resources.Resource.UserName
        </th>
        <th>
            @Resources.Resource.Email
        </th>
        <th>
            @Resources.Resource.Roles
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @string.Join(",", item.RoleNames)
        </td>
        <td>
            @Ajax.ActionLink(@Resources.Resource.Delete, "DeleteUser","Account", new { userId = item.Id },new AjaxOptions { UpdateTargetId = "main_container", LoadingElementId = "loading", HttpMethod = "GET", Confirm = "Do you really want to delete this user?" })
        </td>
    </tr>
}

</table>
